
body{
    background-color: #68cdd5;
    margin: auto;
    color: white;
}
.wrap{
    width: 80%;
    margin: 0 auto;
}
.header{
    padding-top: 4%;

}
.content{
    margin:3%;
    padding: 10%;
    text-align: center;
}
.footer{
    padding: 10%;
}
.footer-l{
    float: left;
    text-align: center;
}
.footer-r{
    float: right;
    text-align: center;
}

